.experience {
  margin-top: 2rem;
  margin-bottom: 3rem !important;
  font-size: 3.5rem;
  font-family: 'Saira Extra Condensed';
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

.cover_school_name {
  margin-top: 50px;
  color: #079992;
  font-size: 2rem;
  font-family: 'Saira Extra Condensed';
  font-weight: 700;
  text-transform: uppercase;
}

.school_name:link,
.school_name:visited {
  color: #079992;
  font-size: 2rem;
  font-family: 'Saira Extra Condensed';
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.school_name:hover,
.school_name:active {
  color: #fd7e14;
  font-size: 2rem;
  font-family: 'Saira Extra Condensed';
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}

.study_time {
  margin-top: 50px;
  width: 100%;
  color: #079992 !important;
  text-align: right !important;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .study_time {
    margin-top: 0;
    text-align: left !important;
  }
}

.exp_des_title {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed';
  font-size: 1.5rem;
  margin-bottom: 1rem !important;
}

.exp_des {
  margin-bottom: 0.5rem !important;
  font-family: 'Mulish', sans-serif;
  color: #34495e;
  padding-top: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.strong_exp_des {
  font-family: 'Mulish', sans-serif;
  color: #34495e;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.5;
}

.hr_exp {
  margin-top: 3rem;
}

.link_demo_project:link,
.link_demo_project:visited {
  color: #079992;
  text-decoration: none;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.5;
}

.link_demo_project:hover,
.link_demo_project:active {
  color: #fd7e14;
  text-decoration: underline;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.5;
}