.cover_swiper {
  margin-top: 2rem;
  width: 100%;
  height: fit-content;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #FFFFFF;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper2 {
  cursor: pointer;
  height: max-content;
  width: 100%;
}

.mySwiper2:hover {
  opacity: 0.7;
}

.mySwiper {
  height: max-content;
  box-sizing: content-box;
  padding: 0;
  background-color: white;
  width: 100%;
}

.mySwiper .swiper-slide img {
  cursor: pointer;
  object-fit: contain;

  &:hover {
    opacity: 0.7;
  }
}

.mySwiper .swiper-slide {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  margin-top: 10px;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cover_show_img {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3000;
}

.cover_show_img_hiden {
  width: 0;
  height: 0;
}

.cover_img {
  width: 65%;
  transition: width 0.5s ease, height 0.5s ease;
}

@media (max-width: 991px) {
  .cover_img {
    width: 100%;
    transition: width 0.5s ease, height 0.5s ease;
  }
}

.cover_img_hiden {
  width: 0;
  height: 0;
}

.show_img {
  display: block;
  width: 100%;
}